{% extends 'base.html' %}
{% load static %}

{% block title %}
    Canteen Page
{% endblock %}

{% block content %}
    <div class="container mt-5 mb-5">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            {% for canteen in canteen_list %}
                <div class="col">
                    <div class="card h-100 d-flex justify-content-between">
                        <div class="card-header">
                            <h5 class="card-title">{{ canteen.canteen_name }}</h5>
                        </div>
                        <div class="card-img-container d-flex justify-content-center align-items-center"
                             style="height: 60%;"> <!-- 设置所需的高度比例 -->
                            <img src={% static canteen.photo_url %}  class="card-img-top"
                                 alt="Hollywood Sign on The Hill"/>
                        </div>
                        <div class="card-body">
                            <p class="card-text mt-auto">
                                {{ canteen.location }}
                            </p>
                        </div>
                        <a class="btn btn-light" href="/canteen/{{ canteen.canteen_id }}/restaurant">
                            进入食堂
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
